[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "==2.2"
django-rest-framework = "*"
djangorestframework = "*"
django-webpack-loader = "*"
django-restful-admin = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
pylint-django = "*"
django-rest-swagger = "*"
sentry-sdk = "==0.13.2"
django-extensions = "*"
ipython = "*"
django-jet = "*"
pyqrcode = "*"
pypng = "*"
pydotplus = "*"
graphviz = "*"
psycopg2 = "*"
openpyxl = "*"
drf-yasg = "*"
django-filter = "*"
pyyaml = "*"
pinax-theme-bootstrap = "*"
django-advanced-filters = "*"
colorama = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
