.cont{
    width:85%;
    margin:auto
}
.headingBody
{
    background-color: #303f9f;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
    letter-spacing: 2px;
}